@rendermode InteractiveServer
@inject ISearchServiceClient<SearchTerm, Book[]> searchClient

@page "/"

<div style="padding: 20px;">
    <div style="display: flex; flex-direction: column">
        <HomeBookSearch onSearch="@UpdateCollection" />
        <div style="display: flex;">
            @foreach (string cat in categories)
            {
                <HomeCategory Category="@cat" onSearch="@UpdateCollection"/> 
            }
        </div>
    </div>
    <div style="display: flex; row-gap: 8px; column-gap: 8px">
        @foreach (Book book in currentSearch)
        {
            <HomeBook book="@book"/>
        }
    </div>
</div>

@code {
    string[] categories = ["All", "Fantasy", "Sci-Fi"];
    Book[] currentSearch = [];

    string bookSearch = "";

    protected override async Task OnParametersSetAsync()
    {
        await GetAllBooks();
        await base.OnParametersSetAsync();
    }

    private async Task GetAllBooks()
    {
        currentSearch = await searchClient.Post("Search", new SearchTerm() { SearchType = "Book", Term = "" });
    }

    private void UpdateCollection(Book[] books)
    {
        currentSearch = books;
        StateHasChanged();
    }
}